* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: #f5f5f5;
}

.container {
    display: flex;         
    height: 100vh;
}

.left {
    background-image: url();
    width: 50%;
    background: #111;
    display: flex;
    justify-content: center;   
    align-items: center;      
}

.left img {
    width: 80%;
    max-width: 400px;
}

.right {
    width: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.right h2 {
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #aaa;
    outline: none;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -15px;
    font-size: 12px;
    color: #04AA6D;
}

button {
    padding: 12px;
    background: #04AA6D;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #038c5a;
}

.error {
    margin-top: 20px;
    color: red;
}
