.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f347f !important;
    padding: 12px 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.topnav a {
    color: #ddd;
    text-decoration: none;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
