{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">


</head>
<body>  
{% include 'finance/partials/navbar.html' %}


<div class="container">
    <div class="header">
        <h1>Expenses</h1>
        <a href="{% url 'create_expense' %}" class="btn">+ New Expense</a>
    </div>
    <div class="summary">
        <div class="summary-card">
            <h3>Total de Expense</h3>
            <p>{{ total_expense }} €</p>
        </div>
    </div>
    <div class="table-container">
        <h2>Seus Expenses</h2>

    <table>
        <thead>

    <tr>
        <th>Categoria</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Data</th>
    </tr>
    {% for expense in expenses %}
    <tr>
        <td>{{ expense.category.name }}</td>
        <td>{{ expense.description }}</td>
        <td  class="amount negative">{{ expense.amount }} €</td>
        <td>{{ expense.date }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">Nenhum expense registrado</td>
    </tr>
    {% endfor %}
</table>


</body>
</html>
